@import 'src/assets/css/variables';

.hideValueButton {
  background-color: $white;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;

  .hideValueIcon {
    font-size: $middle-icon-font-size;
  }
}
