@import 'src/assets/css/variables';

.room {
  width: 100%;
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;

  .info {
    display: flex;
    flex-direction: column;
    margin: 3rem;

    .goBackButton {
      height: 3.5rem;
      width: 12rem;
      font-size: $middle-font-size;
      margin: 1rem 0;
      background-color: $main-red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }
  }

  .commentator {
    height: 100%;
    display: flex;
    flex-direction: column;

    .speechBubble {
      position: relative;
      margin: 0.5em auto;
      margin: 4rem 4rem 0 2rem;
      padding: 1em;
      width: 26rem;
      height: 22rem;
      border-radius: 0.3rem;
      transform: rotate(-4deg) rotateY(15deg);
      background: $main-green;
      text-align: center;
      color: $dark-blue;
      font-size: $small-font-size;
    }
    .speechBubble:before,
    .speechBubble:after {
      position: absolute;
      z-index: -1;
      content: '';
    }
    .speechBubble:after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
      background: $light-green;
    }
    .speechBubble:before {
      border: solid 0 transparent;
      border-right: solid 3.5em #f4fbfe;
      border-bottom: solid 0.25em #8ecea6;
      bottom: 0.25em;
      left: 1.25em;
      width: 0;
      height: 1em;
      transform: rotate(45deg) skewX(75deg);
    }

    .commentatorImgContainer {
      display: flex;
      justify-content: center;

      .commentatorImg {
        height: 360px;
        margin-top: 20px;
      }
    }
  }
}
