@import 'src/assets/css/variables';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imgContainer {
    margin-top: 4rem;

    display: flex;
    justify-content: center;

    .laptop {
      height: 70vh;
      z-index: 0;
    }

    .typing {
      position: absolute;
      z-index: 1;
      top: 30vh;
    }
  }

  .label {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 600;
    color: $dark-blue;
    text-align: center;
  }
}
