@import 'src/assets/css/variables';

.contentWrapper {
  background-color: $light-green;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 2px;

  &.light {
    box-shadow: $white-sheet-light-shadow;
  }

  &.strong {
    box-shadow: $white-sheet-strong-shadow;
  }

  &.medium {
    width: 40%;
    min-height: 50vh;
  }

  &.large {
    width: 80%;
    min-height: 80vh;
  }
}
