@import 'src/assets/css/variables';

.whiteSheet {
  box-shadow: $white-sheet-shadow;
  background-color: $light-green;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 2px;

  &.medium {
    width: 40%;
    min-height: 50vh;
  }

  &.large {
    width: 80%;
    min-height: 80vh;
  }
}
