@import 'src/assets/css/variables';

.emailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;

  .sendButton {
    width: 10rem;
    margin-top: 1rem;
  }

  .emailsInput {
    height: 10rem;
    width: 100%;
    font-size: 1.2rem;
  }
}

.sendButton {
  font-size: $middle-font-size;
  height: 3.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-green;
  color: $white;
  margin: 0 auto;
}
