@import 'src/assets/css/variables';

.statisticsSection {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;

  .statisticValue {
    width: 100%;
    text-align: center;
  }
}
