@import 'src/assets/css/variables';

.formField {
  font-size: $form-field-font-size;
  color: $dark-blue;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  .label {
    margin: 0;
  }

  &.flexColumn {
    flex-direction: column;
    align-items: flex-start;

    .label {
      margin-bottom: 0.25rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .note {
    font-size: $form-field-note-font-size;
  }

  .input {
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: baseline;
    font-size: inherit;
    color: $dark-blue;
    background-color: $white;

    &:focus {
      color: $dark-blue !important;
      border-color: $main-green !important;
      box-shadow: $input-shadow;
      background-color: $white !important;
    }
  }
}
