@import 'src/assets/css/variables';

.profile {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    justify-content: space-between;

    .avatarField {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 4rem 0 0;
    }

    .personalInfoFields {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    .submitButtonContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 20%;
    }

    .button {
      height: 3.5rem;
      width: 12rem;
      font-size: $middle-font-size;
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;

      &.submitButton,
      &.uploadAvatarButton {
        background-color: $main-green;
      }

      &.deleteAvatarButton {
        background-color: $main-red;
        margin-top: 0;
      }
    }
  }
}
