@import 'src/assets/css/variables';

.lessons {
  height: 100%;
  width: 100%;
  padding: 3rem;

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-items: flex-end;
    align-items: center;
    gap: 3rem;

    .filter {
      width: 100%;
    }
  }

  .createLessonButton {
    height: 3.5rem;
    width: 12rem;
    font-size: $middle-font-size;
    background-color: $main-green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .spinnerContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .infiniteScroll {
    overflow: unset !important;

    .lessonCards {
      width: 100%;
      align-items: flex-end;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 0.75rem 3rem;
    }
  }
}
