@import 'src/assets/css/variables';

.rooms {
  height: 100%;
  width: 100%;
  padding: 3rem;

  .titleContainer {
    display: flex;
    justify-content: space-between;
  }

  .roomCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5vw, 1fr));
    gap: 0.75rem 3rem;
  }
}

.createLessonButton {
  height: 3.5rem;
  width: 12rem;
  font-size: $middle-font-size;
  margin: 1rem 0;
  background-color: $main-green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.spinnerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
