@import 'src/assets/css/variables';

.typingCanvas {
  height: 100%;
  background: #fff;
  padding: 1.3rem;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $typing-canvas-light-shadow;

  .timerBeforeTyping {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    font-size: $extra-large-font-size;
  }

  .gameTimer {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 60px;
  }

  .typedSymbol {
    &.correctTyped {
      background-color: rgba($main-green, 0.7);
    }
    &.incorrectTyped {
      background-color: rgba($main-red, 0.7);
    }
  }

  .readyButton {
    height: 3.5rem;
    width: 12rem;
    font-size: $middle-font-size;
    margin: 1rem 0;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &.ready {
      background-color: $main-red;
    }

    &.notReady {
      background-color: $main-green;
    }
  }
}
