@import 'src/assets/css/variables';

.title {
  font-size: $large-font-size !important;
}

.button {
  font-size: $middle-font-size;
  height: 3.5rem;
  min-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  background-color: $main-green;
  color: $white;
}

.cancelButton {
  border: 1px solid rgba($black, 0.25);
}
