@import 'src/assets/css/variables';

.dialog {
  max-width: none !important;

  .modal {
    padding: 0 1rem 1rem 1rem;
    border-radius: 0;
    margin: 0 auto;

    .title {
      font-size: $large-font-size !important;
    }

    .button {
      font-size: $middle-font-size;
      height: 3.5rem;
      min-width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .submitButton {
      background-color: $main-green;
      color: $white;
    }

    .cancelButton {
      border: $main-border;
    }

    button:focus {
      box-shadow: none !important;
    }
  }
}
