$white: #ffffff;
$black: #000000;
$dark-blue: #293042;
$light-grey: #e9ecef;
$main-green: #4bba73;
$avatar-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px inset;

$width-mobile: 425px;
$width-tablet: 768px;
$width-medium: 1000px;
$width-wide: 1200px;
